/*index_top */
/* line 7, ../sass/index.scss */
#index_top {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: url(../../img/index-bg-01.jpg) center no-repeat;
  background-size: cover;
}
/* line 14, ../sass/index.scss */
#index_top:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 64, 76, 0.5);
}

/* line 26, ../sass/index.scss */
.index_top-info {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 1;
  margin-top: 34vh;
}
/* line 33, ../sass/index.scss */
.index_top-info h1 {
  font-size: 4.833rem;
  font-weight: 700;
  font-family: 'Lora', serif;
  margin-bottom: 40px;
}
/* line 40, ../sass/index.scss */
.index_top-info p {
  font-size: 2.083rem;
  font-family: 'OpenSans-Regular', sans-serif;
  margin-bottom: 90px;
}
/* line 46, ../sass/index.scss */
.index_top-info .main_link {
  padding: 0 70px;
}

/*services*/
/* line 53, ../sass/index.scss */
#services {
  position: relative;
  overflow: hidden;
  padding-top: 65px;
  padding-bottom: 95px;
}
/* line 59, ../sass/index.scss */
#services h2 {
  margin-bottom: 100px;
}

/* line 65, ../sass/index.scss */
.services_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 74, ../sass/index.scss */
.services_list .services_list-bullet {
  position: relative;
  text-align: center;
  width: 23%;
}
/* line 79, ../sass/index.scss */
.services_list .services_list-bullet h3 {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: #3a3f4b;
  padding-bottom: 18px;
  margin-bottom: 13px;
  margin-top: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#e1e1e1)) 50% 100% no-repeat;
  background: linear-gradient(#888, #e1e1e1) 50% 100% no-repeat;
  background-size: 15% 2px;
}
/* line 92, ../sass/index.scss */
.services_list .services_list-bullet p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.9;
  color: #999;
}
/* line 99, ../sass/index.scss */
.services_list .services_list-bullet:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* line 108, ../sass/index.scss */
.services_list .services_list-bullet:nth-child(1):before {
  background: #f5f6f8 url(../../img/services_01.png) center no-repeat;
  background-size: 30px;
}
/* line 112, ../sass/index.scss */
.services_list .services_list-bullet:nth-child(2):before {
  background: #f5f6f8 url(../../img/services_02.png) center no-repeat;
  background-size: 45px;
}
/* line 116, ../sass/index.scss */
.services_list .services_list-bullet:nth-child(3):before {
  background: #f5f6f8 url(../../img/services_03.png) center no-repeat;
  background-size: 25px;
}
/* line 120, ../sass/index.scss */
.services_list .services_list-bullet:nth-child(4):before {
  background: #f5f6f8 url(../../img/services_04.png) center no-repeat;
  background-size: 42px;
}

/*portfolio*/
/* line 129, ../sass/index.scss */
#portfolio {
  position: relative;
  overflow: hidden;
  padding-top: 37px;
  padding-bottom: 74px;
  background-color: #f5f6f8;
}
/* line 136, ../sass/index.scss */
#portfolio h2 {
  margin-bottom: 63px;
}

/* line 142, ../sass/index.scss */
.portfolio_nav {
  position: relative;
  margin-bottom: 40px;
}
/* line 146, ../sass/index.scss */
.portfolio_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 154, ../sass/index.scss */
.portfolio_nav ul li {
  margin: 0 30px;
}
/* line 157, ../sass/index.scss */
.portfolio_nav ul li a {
  font-size: 1.167rem;
  font-family: 'OpenSans-Light', sans-serif;
  color: #999;
  padding-bottom: 10px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)) 50% 100% no-repeat;
  background: linear-gradient(transparent, transparent) 50% 100% no-repeat;
  background-size: 100% 1px;
}
/* line 170, ../sass/index.scss */
.portfolio_nav ul li.active a, .portfolio_nav ul li a:hover {
  color: #00a5ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#00a5ff), to(#00a5ff)) 50% 100% no-repeat;
  background: linear-gradient(#00a5ff, #00a5ff) 50% 100% no-repeat;
  background-size: 100% 1px;
}

/* line 180, ../sass/index.scss */
.portfolio_works {
  position: relative;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 190, ../sass/index.scss */
.portfolio_works-bullet {
  position: relative;
  margin: 10px;
  width: calc(100% / 3 - 20px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
}
/* line 199, ../sass/index.scss */
.portfolio_works-bullet .portfolio_works-bullet_img {
  margin-bottom: 25px;
  height: 275px;
}
/* line 203, ../sass/index.scss */
.portfolio_works-bullet .portfolio_works-bullet_img img {
  display: block;
  width: 100%;
}
/* line 208, ../sass/index.scss */
.portfolio_works-bullet .portfolio_works-bullet_desc {
  position: relative;
}
/* line 211, ../sass/index.scss */
.portfolio_works-bullet .portfolio_works-bullet_desc h4 {
  font-size: 1.5rem;
  color: #999;
  font-family: 'OpenSans-SemiBold', sans-serif;
  padding-left: 30px;
  margin-bottom: 20px;
}

/* line 222, ../sass/index.scss */
.portfolio_link {
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 227, ../sass/index.scss */
.portfolio_link .main_link {
  padding: 0 64px;
  text-transform: uppercase;
}

/*brands*/
/* line 235, ../sass/index.scss */
#brands {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 110px;
}
/* line 241, ../sass/index.scss */
#brands h2 {
  margin-bottom: 85px;
}

/* line 246, ../sass/index.scss */
.brands_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 257, ../sass/index.scss */
.brands_list .brands_list-bullet {
  position: relative;
}
/* line 260, ../sass/index.scss */
.brands_list .brands_list-bullet a {
  display: block;
  max-width: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
/* line 266, ../sass/index.scss */
.brands_list .brands_list-bullet a img {
  display: block;
  width: 100%;
}
/* line 271, ../sass/index.scss */
.brands_list .brands_list-bullet a:hover {
  opacity: 0.5;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

/*reviews*/
/* line 282, ../sass/index.scss */
#reviews {
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  background-color: #f5f6f8;
}
/* line 288, ../sass/index.scss */
#reviews h2 {
  margin-bottom: 65px;
}

/* line 293, ../sass/index.scss */
.reviews_slider {
  position: relative;
  overflow: hidden;
}

/* line 300, ../sass/index.scss */
.owl-carousel .owl-prev, .owl-carousel .owl-next {
  position: absolute;
  left: 2vw;
  top: 41%;
  height: 30px;
  width: 30px;
  background: url(../../img/arrow-l.png) center center no-repeat;
  background-size: 20px;
  z-index: 9;
}
/* line 311, ../sass/index.scss */
.owl-carousel .owl-next {
  right: 2vw;
  left: initial;
  background: url(../../img/arrow-r.png) center center no-repeat;
  background-size: 20px;
}

/* line 319, ../sass/index.scss */
.reviews_slider-bullet {
  position: relative;
}
/* line 322, ../sass/index.scss */
.reviews_slider-bullet .reviews_slider-bullet_img {
  position: relative;
  overflow: hidden;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 45px;
}
/* line 331, ../sass/index.scss */
.reviews_slider-bullet .reviews_slider-bullet_img img {
  height: 100%;
  width: 100%;
  display: block;
}
/* line 338, ../sass/index.scss */
.reviews_slider-bullet .reviews_slider-bullet_desc {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #3a3f4b;
  width: 48%;
  margin: 0 auto;
}
/* line 346, ../sass/index.scss */
.reviews_slider-bullet .reviews_slider-bullet_desc p {
  font-size: 2rem;
  font-family: 'Lora', serif;
  margin-bottom: 40px;
}
/* line 351, ../sass/index.scss */
.reviews_slider-bullet .reviews_slider-bullet_desc p a {
  color: #3a3f4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a3f4b), to(#3a3f4b)) 50% 94% no-repeat;
  background: linear-gradient(#3a3f4b, #3a3f4b) 50% 94% no-repeat;
  background-size: 100% 1px;
}
/* line 357, ../sass/index.scss */
.reviews_slider-bullet .reviews_slider-bullet_desc p a:hover {
  opacity: 0.2;
}
/* line 362, ../sass/index.scss */
.reviews_slider-bullet .reviews_slider-bullet_desc p:nth-of-type(2) {
  font-size: 1.5rem;
  font-family: 'OpenSans-Regular', sans-serif;
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /*portfolio*/
  /* line 377, ../sass/index.scss */
  .portfolio_works-bullet .portfolio_works-bullet_img {
    height: 220px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  /*index_top */
  /* line 388, ../sass/index.scss */
  #index_top {
    height: 150vw;
  }

  /* line 392, ../sass/index.scss */
  .index_top-info {
    margin-top: 35vw;
  }
  /* line 395, ../sass/index.scss */
  .index_top-info h1 {
    font-size: 3.833rem;
    margin-bottom: 5vw;
  }
  /* line 400, ../sass/index.scss */
  .index_top-info p {
    font-size: 1.5rem;
    margin-bottom: 10vw;
  }
  /* line 405, ../sass/index.scss */
  .index_top-info .main_link {
    padding: 0 7vw;
  }

  /*services*/
  /* line 412, ../sass/index.scss */
  #services {
    padding-top: 5vw;
    padding-bottom: 7vw;
  }
  /* line 416, ../sass/index.scss */
  #services h2 {
    margin-bottom: 7vw;
  }

  /* line 422, ../sass/index.scss */
  .services_list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 426, ../sass/index.scss */
  .services_list .services_list-bullet {
    width: 45%;
    margin-bottom: 3vw;
  }
  /* line 430, ../sass/index.scss */
  .services_list .services_list-bullet h3 {
    font-size: 1.5rem;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    margin-top: 3vw;
  }
  /* line 437, ../sass/index.scss */
  .services_list .services_list-bullet p {
    font-size: 1rem;
  }
  /* line 441, ../sass/index.scss */
  .services_list .services_list-bullet:before {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
  }
  /* line 447, ../sass/index.scss */
  .services_list .services_list-bullet:nth-child(1):before {
    background: #f5f6f8 url(../../img/services_01.png) center no-repeat;
    background-size: 7vw;
  }
  /* line 451, ../sass/index.scss */
  .services_list .services_list-bullet:nth-child(2):before {
    background: #f5f6f8 url(../../img/services_02.png) center no-repeat;
    background-size: 7vw;
  }
  /* line 455, ../sass/index.scss */
  .services_list .services_list-bullet:nth-child(3):before {
    background: #f5f6f8 url(../../img/services_03.png) center no-repeat;
    background-size: 5vw;
  }
  /* line 459, ../sass/index.scss */
  .services_list .services_list-bullet:nth-child(4):before {
    background: #f5f6f8 url(../../img/services_04.png) center no-repeat;
    background-size: 7vw;
  }

  /*portfolio*/
  /* line 468, ../sass/index.scss */
  #portfolio {
    padding-top: 5vw;
    padding-bottom: 7vw;
  }
  /* line 472, ../sass/index.scss */
  #portfolio h2 {
    margin-bottom: 7vw;
  }

  /* line 478, ../sass/index.scss */
  .portfolio_nav {
    margin-bottom: 5vw;
  }
  /* line 483, ../sass/index.scss */
  .portfolio_nav ul li {
    margin: 0 3vw;
  }
  /* line 486, ../sass/index.scss */
  .portfolio_nav ul li a {
    font-size: 0.9rem;
    padding-bottom: 1vw;
  }

  /* line 494, ../sass/index.scss */
  .portfolio_works {
    margin-bottom: 5vw;
  }

  /* line 498, ../sass/index.scss */
  .portfolio_works-bullet {
    margin: 2%;
    margin-bottom: 3vw;
    width: 96%;
  }
  /* line 503, ../sass/index.scss */
  .portfolio_works-bullet .portfolio_works-bullet_img {
    margin-bottom: 3vw;
    height: 60vw;
  }
  /* line 507, ../sass/index.scss */
  .portfolio_works-bullet .portfolio_works-bullet_img img {
    max-height: 100%;
  }
  /* line 513, ../sass/index.scss */
  .portfolio_works-bullet .portfolio_works-bullet_desc h4 {
    font-size: 1.5rem;
    padding-left: 2vw;
    margin-bottom: 3vw;
  }

  /* line 524, ../sass/index.scss */
  .portfolio_link .main_link {
    padding: 0 6vw;
  }

  /*brands*/
  /* line 531, ../sass/index.scss */
  #brands {
    padding-top: 5vw;
    padding-bottom: 7vw;
  }
  /* line 535, ../sass/index.scss */
  #brands h2 {
    margin-bottom: 7vw;
  }

  /* line 540, ../sass/index.scss */
  .brands_list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 544, ../sass/index.scss */
  .brands_list .brands_list-bullet {
    width: 45%;
    margin-bottom: 5vw;
  }
  /* line 550, ../sass/index.scss */
  .brands_list .brands_list-bullet a img {
    width: 80%;
    margin: 0 auto;
  }

  /*reviews*/
  /* line 560, ../sass/index.scss */
  #reviews {
    padding: 5vw 0;
  }
  /* line 563, ../sass/index.scss */
  #reviews h2 {
    margin-bottom: 7vw;
  }

  /* line 570, ../sass/index.scss */
  .owl-carousel .owl-prev, .owl-carousel .owl-next {
    height: 6vw;
    width: 6vw;
    background-size: 4vw;
    left: 0;
  }
  /* line 577, ../sass/index.scss */
  .owl-carousel .owl-next {
    background-size: 4vw;
    left: initial;
    right: 0;
  }

  /* line 586, ../sass/index.scss */
  .reviews_slider-bullet .reviews_slider-bullet_img {
    width: 35vw;
    height: 35vw;
    margin-bottom: 5vw;
  }
  /* line 592, ../sass/index.scss */
  .reviews_slider-bullet .reviews_slider-bullet_desc {
    width: 85%;
  }
  /* line 595, ../sass/index.scss */
  .reviews_slider-bullet .reviews_slider-bullet_desc p {
    font-size: 1.6rem;
    margin-bottom: 4vw;
  }
  /* line 599, ../sass/index.scss */
  .reviews_slider-bullet .reviews_slider-bullet_desc p:nth-of-type(2) {
    font-size: 1.2rem;
  }
}
