@charset "UTF-8";
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/all/base.scss */
.title-section {
  font-size: 3.417rem;
  color: #3a3f4b;
  font-family: 'Lora', serif;
  padding-bottom: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#00a5ff), to(#00a5ff)) 50% 100% no-repeat;
  background: linear-gradient(#00a5ff, #00a5ff) 50% 100% no-repeat;
  background-size: 13% 4px;
}

/* line 18, ../sass/all/base.scss */
.main_link {
  position: relative;
  overflow: hidden;
  font-size: 2.083rem;
  color: #fff;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  background-color: #00a5ff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-appearance: none;
  cursor: pointer;
}
/* line 35, ../sass/all/base.scss */
.main_link:hover, .main_link:focus {
  background-color: #1aaeff;
}
/* line 38, ../sass/all/base.scss */
.main_link:active {
  background-color: #0095e6;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  /* line 45, ../sass/all/base.scss */
  .title-section {
    font-size: 3rem;
    padding-bottom: 2vw;
  }

  /* line 50, ../sass/all/base.scss */
  .main_link {
    font-size: 1.5rem;
    height: 13vw;
    line-height: 13vw;
    border-radius: 10vw;
  }
}
/* line 3, ../sass/all/wrapper.scss */
body {
  min-height: 100vh;
}

/* line 7, ../sass/all/wrapper.scss */
html, body {
  min-height: 100%;
  height: 100%;
  line-height: 1.2;
  font-size: 12px;
  font-family: 'Lora', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'OpenSans-Regular', sans-serif;
}

@font-face {
  font-family: 'Lora';
  src: url(../../fonts/Lora-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url(../../fonts/SourceSansPro-SemiBold.ttf);
}
/* ╨Ъ╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А */
/* line 55, ../sass/all/wrapper.scss */
.wrapper {
  width: 100%;
}

/* line 57, ../sass/all/wrapper.scss */
.container {
  width: 1190px;
  margin: 0 auto;
  padding: 0;
}

/* line 63, ../sass/all/wrapper.scss */
.column, .columns {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 68, ../sass/all/wrapper.scss */
.content {
  overflow: hidden;
}

/* line 70, ../sass/all/wrapper.scss */
.container .sixteen.columns {
  width: 1170px;
}

/* line 72, ../sass/all/wrapper.scss */
.position-relative {
  position: relative;
  overflow: hidden;
}

/* line 77, ../sass/all/wrapper.scss */
a {
  text-decoration: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  /* line 83, ../sass/all/wrapper.scss */
  .container {
    width: 1120px;
  }

  /* line 84, ../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 1100px;
  }

  /* line 85, ../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 93, ../sass/all/wrapper.scss */
  .container {
    width: 980px;
  }

  /* line 94, ../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 960px;
  }

  /* line 95, ../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* line 103, ../sass/all/wrapper.scss */
  .container {
    width: 100%;
  }

  /* line 104, ../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 96%;
  }

  /* line 105, ../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  /* line 113, ../sass/all/wrapper.scss */
  .container {
    width: 100%;
  }

  /* line 114, ../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 94%;
  }

  /* line 115, ../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 3%;
    margin-right: 3%;
  }
}
/* line 5, ../sass/all/header.scss */
header {
  position: relative;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
}

/* line 20, ../sass/all/header.scss */
.header_logo {
  position: relative;
  overflow: hidden;
  width: 17%;
}
/* line 25, ../sass/all/header.scss */
.header_logo a {
  width: 140px;
  display: block;
}
/* line 29, ../sass/all/header.scss */
.header_logo a img {
  max-width: 100%;
}

/* line 35, ../sass/all/header.scss */
.header_nav {
  position: relative;
}
/* line 38, ../sass/all/header.scss */
.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 43, ../sass/all/header.scss */
.header_nav ul li {
  margin-left: 63px;
}
/* line 46, ../sass/all/header.scss */
.header_nav ul li a {
  font-size: 1.167rem;
  color: #fff;
  padding-bottom: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)) 50% 100% no-repeat;
  background: linear-gradient(transparent, transparent) 50% 100% no-repeat;
  background-size: 100% 1px;
}
/* line 58, ../sass/all/header.scss */
.header_nav ul li.active a, .header_nav ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 50% 100% no-repeat;
  background: linear-gradient(#fff, #fff) 50% 100% no-repeat;
  background-size: 100% 1px;
}

/* line 67, ../sass/all/header.scss */
#menumob {
  display: none;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  /* line 72, ../sass/all/header.scss */
  header {
    margin-top: 3vw;
  }

  /* line 76, ../sass/all/header.scss */
  .header_logo {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  /* line 81, ../sass/all/header.scss */
  .header_logo a {
    width: 27vw;
  }

  /* line 86, ../sass/all/header.scss */
  .header_nav {
    display: none;
  }

  /* line 90, ../sass/all/header.scss */
  #menumob {
    display: block;
    width: 13%;
  }
  /* line 93, ../sass/all/header.scss */
  #menumob a {
    width: 100%;
  }
  /* line 96, ../sass/all/header.scss */
  #menumob a svg {
    width: 10vw;
    height: 10vw;
  }
}
/* line 5, ../sass/all/footer.scss */
footer {
  position: relative;
}

/* line 9, ../sass/all/footer.scss */
#footer-top {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #3b404c;
  color: #fff;
}

/* line 18, ../sass/all/footer.scss */
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 27, ../sass/all/footer.scss */
.footer_info {
  position: relative;
  width: 31%;
}
/* line 31, ../sass/all/footer.scss */
.footer_info h2 {
  font-size: 2.75rem;
  font-family: 'Lora', serif;
  font-weight: 700;
  margin-bottom: 120px;
}

/* line 39, ../sass/all/footer.scss */
.footer_info-bullet {
  position: relative;
  margin-bottom: 55px;
}
/* line 43, ../sass/all/footer.scss */
.footer_info-bullet h3 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}
/* line 50, ../sass/all/footer.scss */
.footer_info-bullet a {
  display: block;
  font-size: 1.5rem;
  color: #999;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
/* line 57, ../sass/all/footer.scss */
.footer_info-bullet a:hover {
  opacity: 0.7;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
/* line 64, ../sass/all/footer.scss */
.footer_info-bullet:nth-of-type {
  margin-bottom: 0;
}

/* line 69, ../sass/all/footer.scss */
.footer_rbl {
  position: relative;
  width: 65%;
}

/* line 74, ../sass/all/footer.scss */
.footer_rbl-nav {
  position: relative;
  margin-bottom: 110px;
}
/* line 78, ../sass/all/footer.scss */
.footer_rbl-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* line 86, ../sass/all/footer.scss */
.footer_rbl-nav ul li {
  margin-left: 33px;
}
/* line 89, ../sass/all/footer.scss */
.footer_rbl-nav ul li a {
  font-size: 1.667rem;
  font-family: 'OpenSans', sans-serif;
  color: #fff;
  padding-bottom: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)) 50% 100% no-repeat;
  background: linear-gradient(transparent, transparent) 50% 100% no-repeat;
  background-size: 100% 1px;
}
/* line 101, ../sass/all/footer.scss */
.footer_rbl-nav ul li.active a, .footer_rbl-nav ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 50% 100% no-repeat;
  background: linear-gradient(#fff, #fff) 50% 100% no-repeat;
  background-size: 100% 1px;
}

/* line 110, ../sass/all/footer.scss */
.footer_rbl-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 121, ../sass/all/footer.scss */
.footer_rbl-form .footer_rbl-form_input {
  position: relative;
  width: 45%;
  margin-bottom: 55px;
}
/* line 126, ../sass/all/footer.scss */
.footer_rbl-form .footer_rbl-form_input label {
  display: block;
  font-size: 2.083rem;
  font-family: 'OpenSans', sans-serif;
  margin-bottom: 30px;
}
/* line 133, ../sass/all/footer.scss */
.footer_rbl-form .footer_rbl-form_input input {
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #73757a;
}
/* line 143, ../sass/all/footer.scss */
.footer_rbl-form .footer_rbl-form_input input:active, .footer_rbl-form .footer_rbl-form_input input:focus {
  outline: none;
  border-bottom: 1px solid #00a5ff;
}
/* line 150, ../sass/all/footer.scss */
.footer_rbl-form .footer_rbl-form_textarea {
  position: relative;
  margin-bottom: 45px;
  width: 100%;
}
/* line 155, ../sass/all/footer.scss */
.footer_rbl-form .footer_rbl-form_textarea label {
  display: block;
  font-size: 2.083rem;
  font-family: 'OpenSans', sans-serif;
  margin-bottom: 20px;
}
/* line 162, ../sass/all/footer.scss */
.footer_rbl-form .footer_rbl-form_textarea textarea {
  width: 100%;
  height: 110px;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #73757a;
}
/* line 171, ../sass/all/footer.scss */
.footer_rbl-form .footer_rbl-form_textarea textarea:active, .footer_rbl-form .footer_rbl-form_textarea textarea:focus {
  outline: none;
  border-bottom: 1px solid #00a5ff;
}
/* line 179, ../sass/all/footer.scss */
.footer_rbl-form button {
  border: none;
  padding: 0 55px;
  height: 65px;
  line-height: 65px;
}
/* line 185, ../sass/all/footer.scss */
.footer_rbl-form button:focus {
  outline: none;
}

/* line 191, ../sass/all/footer.scss */
.footer-bot {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
}

/* line 205, ../sass/all/footer.scss */
.footer_copy {
  position: relative;
  overflow: hidden;
}
/* line 209, ../sass/all/footer.scss */
.footer_copy p {
  font-size: 1.083rem;
  font-family: 'Montserrat', sans-serif;
  color: #999;
}

/* line 216, ../sass/all/footer.scss */
.footer-soc {
  position: relative;
  overflow: hidden;
}
/* line 220, ../sass/all/footer.scss */
.footer-soc ul {
  position: relative;
  overflow: hidden;
}
/* line 224, ../sass/all/footer.scss */
.footer-soc ul li {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: 12px;
}
/* line 230, ../sass/all/footer.scss */
.footer-soc ul li a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* line 236, ../sass/all/footer.scss */
.footer-soc ul li a:hover {
  opacity: 0.7;
}
/* line 240, ../sass/all/footer.scss */
.footer-soc ul li:nth-of-type(1) a {
  background: url(../../img/soc-01.png) center no-repeat;
  background-size: contain;
}
/* line 244, ../sass/all/footer.scss */
.footer-soc ul li:nth-of-type(2) a {
  background: url(../../img/soc-02.png) center no-repeat;
  background-size: contain;
}
/* line 248, ../sass/all/footer.scss */
.footer-soc ul li:nth-of-type(3) a {
  background: url(../../img/soc-03.png) center no-repeat;
  background-size: contain;
}
/* line 252, ../sass/all/footer.scss */
.footer-soc ul li:nth-of-type(4) a {
  background: url(../../img/soc-04.png) center no-repeat;
  background-size: contain;
}

/* line 260, ../sass/all/footer.scss */
.scrollToTop {
  position: absolute;
  right: calc(50% - 65px / 2);
  bottom: 60px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background: #00a5ff url(../../img/arrow-up.png) center no-repeat;
  background-size: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 10;
}
/* line 277, ../sass/all/footer.scss */
.scrollToTop:hover {
  background-color: #1aaeff;
}
/* line 280, ../sass/all/footer.scss */
.scrollToTop:focus {
  outline: none;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  /* line 287, ../sass/all/footer.scss */
  #footer-top {
    padding-top: 7vw;
    padding-bottom: 5vw;
  }

  /* line 292, ../sass/all/footer.scss */
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 299, ../sass/all/footer.scss */
  .footer_info {
    width: 100%;
    margin-bottom: 5vw;
  }
  /* line 303, ../sass/all/footer.scss */
  .footer_info h2 {
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 5vw;
  }

  /* line 310, ../sass/all/footer.scss */
  .footer_info-bullet {
    margin-bottom: 3vw;
  }
  /* line 313, ../sass/all/footer.scss */
  .footer_info-bullet h3 {
    font-size: 1.6rem;
    margin-bottom: 2vw;
  }
  /* line 318, ../sass/all/footer.scss */
  .footer_info-bullet a {
    font-size: 1.3rem;
  }
  /* line 322, ../sass/all/footer.scss */
  .footer_info-bullet:nth-of-type {
    margin-bottom: 0;
  }

  /* line 327, ../sass/all/footer.scss */
  .footer_rbl {
    width: 100%;
  }

  /* line 331, ../sass/all/footer.scss */
  .footer_rbl-nav {
    margin-bottom: 5vw;
  }
  /* line 336, ../sass/all/footer.scss */
  .footer_rbl-nav ul li {
    margin-left: 3vw;
  }
  /* line 339, ../sass/all/footer.scss */
  .footer_rbl-nav ul li a {
    font-size: 1.2rem;
    padding-bottom: 1vw;
  }

  /* line 347, ../sass/all/footer.scss */
  .footer_rbl-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  /* line 358, ../sass/all/footer.scss */
  .footer_rbl-form .footer_rbl-form_input {
    width: 100%;
    margin-bottom: 3vw;
  }
  /* line 362, ../sass/all/footer.scss */
  .footer_rbl-form .footer_rbl-form_input label {
    font-size: 1.6rem;
    margin-bottom: 3vw;
  }
  /* line 367, ../sass/all/footer.scss */
  .footer_rbl-form .footer_rbl-form_input input {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 1vw;
    padding-left: 2vw;
  }
  /* line 375, ../sass/all/footer.scss */
  .footer_rbl-form .footer_rbl-form_textarea {
    margin-bottom: 3vw;
    width: 100%;
  }
  /* line 379, ../sass/all/footer.scss */
  .footer_rbl-form .footer_rbl-form_textarea label {
    font-size: 1.6rem;
    margin-bottom: 1vw;
  }
  /* line 384, ../sass/all/footer.scss */
  .footer_rbl-form .footer_rbl-form_textarea textarea {
    width: 100%;
    height: 20vw;
    font-size: 1.5rem;
  }
  /* line 392, ../sass/all/footer.scss */
  .footer_rbl-form button {
    border: none;
    padding: 0 6vw;
    height: 11vw;
    line-height: 11vw;
  }

  /* line 400, ../sass/all/footer.scss */
  .footer-bot {
    padding: 3vw 0;
  }

  /* line 405, ../sass/all/footer.scss */
  .footer_copy p {
    font-size: 1.083rem;
  }

  /* line 414, ../sass/all/footer.scss */
  .footer-soc ul li {
    margin-left: 2vw;
  }
  /* line 417, ../sass/all/footer.scss */
  .footer-soc ul li a {
    width: 6vw;
    height: 6vw;
  }

  /* line 425, ../sass/all/footer.scss */
  .scrollToTop {
    right: calc(50% - 13vw / 2);
    bottom: 5vw;
    width: 13vw;
    height: 13vw;
    background-size: 4vw;
  }
}
