$Accent: #00a5ff;
$Title: #3a3f4b;
$SectionBg: #f5f6f8;

.title-section {
	font-size: 3.417rem;
	color: #3a3f4b;
	font-family: 'Lora', serif;
	padding-bottom: 22px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	background: -webkit-gradient(linear, left top, left bottom, from($Accent), to($Accent)) 50% 100% no-repeat;
	background: linear-gradient($Accent, $Accent) 50% 100% no-repeat;
	background-size: 13% 4px;
}

.main_link {
	position: relative;
	overflow: hidden;
	font-size: 2.083rem;
	color: #fff;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	background-color: $Accent;
	border-radius: 50px;
	-webkit-box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-appearance: none;
	cursor: pointer;

	&:hover, &:focus {
		background-color: lighten($Accent, 5%);
	}
	&:active {
		background-color: darken($Accent, 5%);
	}
}

@media only screen and (min-width: 120px) and (max-width: 767px) {

.title-section {
	font-size: 3rem;
	padding-bottom: 2vw;
}

.main_link {
	font-size: 1.5rem;
	height: 13vw;
	line-height: 13vw;
	border-radius: 10vw;
}
}


