$Accent: #00a5ff;
$Title: #3a3f4b;
$SectionBg: #f5f6f8;

footer {
	position: relative;
}

#footer-top {
	position: relative;
	overflow: hidden;
	padding-top: 80px;
	padding-bottom: 40px;
	background-color: #3b404c;
	color: #fff;
}

.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer_info {
	position: relative;
	width: 31%;

	h2 {
		font-size: 2.75rem;
		font-family: 'Lora', serif;
		font-weight: 700;
		margin-bottom: 120px;
	}
}

.footer_info-bullet {
	position: relative;
	margin-bottom: 55px;

	h3 {
		font-size: 2rem;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 22px;
	}

	a {
		display: block;
		font-size: 1.5rem;
		color: #999;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;

		&:hover {
			opacity: 0.7;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
		}
	}

	&:nth-of-type {
		margin-bottom: 0;
	}
}

.footer_rbl {
	position: relative;
	width: 65%;
}

.footer_rbl-nav {
	position: relative;
	margin-bottom: 110px;

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;

		li {
			margin-left: 33px;

			a {
				font-size:  1.667rem;
				font-family: 'OpenSans', sans-serif;
				color: #fff;
				padding-bottom: 10px;
				-webkit-transition: all .2s ease;
				transition: all .2s ease;
				background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)) 50% 100% no-repeat;
				background: linear-gradient(transparent, transparent) 50% 100% no-repeat;
				background-size: 100% 1px;
			}

			&.active a, a:hover {
				background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 50% 100% no-repeat;
				background: linear-gradient(#fff, #fff) 50% 100% no-repeat;
				background-size: 100% 1px;
			}
		}
	}
}

.footer_rbl-form {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	.footer_rbl-form_input {
		position: relative;
		width: 45%;
		margin-bottom: 55px;

		label {
			display: block;
			font-size: 2.083rem;
			font-family: 'OpenSans', sans-serif;
			margin-bottom: 30px;
		}

		input {
			width: 100%;
			font-size: 1.5rem;
			color :#fff;
			padding-bottom: 10px;
			padding-left: 20px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #73757a;

			&:active, &:focus {
				outline: none;
				border-bottom: 1px solid $Accent;
			}
		}
	}

	.footer_rbl-form_textarea {
		position: relative;
		margin-bottom: 45px;
		width: 100%;

		label {
			display: block;
			font-size: 2.083rem;
			font-family: 'OpenSans', sans-serif;
			margin-bottom: 20px;
		}

		textarea {
			width: 100%;
			height: 110px;
			font-size: 1.5rem;
			color :#fff;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #73757a;

			&:active, &:focus {
				outline: none;
				border-bottom: 1px solid $Accent;
			}
		}

	}

	button {
		border: none;
		padding: 0 55px;
		height: 65px;
		line-height: 65px;

		&:focus {
			outline: none;
		}
	}
}

.footer-bot {
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 30px 0;
}
.footer_copy {
	position: relative;
	overflow: hidden;

	p {
		font-size: 1.083rem;
		font-family: 'Montserrat', sans-serif;
		color: #999;
	}
}

.footer-soc {
	position: relative;
	overflow: hidden;

	ul {
		position: relative;
		overflow: hidden;

		li {
			position: relative;
			overflow: hidden;
			display: inline-block;
			margin-left: 12px;

			a {
				display: block;
				width: 30px;
				height: 30px;
				border-radius: 50%;

				&:hover {
					opacity: 0.7;
				}
			}
			&:nth-of-type(1) a {
				background: url(../../img/soc-01.png) center no-repeat;
				background-size: contain;
			}
			&:nth-of-type(2) a {
				background: url(../../img/soc-02.png) center no-repeat;
				background-size: contain;
			}
			&:nth-of-type(3) a {
				background: url(../../img/soc-03.png) center no-repeat;
				background-size: contain;
			}
			&:nth-of-type(4) a {
				background: url(../../img/soc-04.png) center no-repeat;
				background-size: contain;
			}
		}
	}
}

.scrollToTop {
	position: absolute;
    right: calc(50% - 65px / 2);
    bottom: 60px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    background: $Accent url(../../img/arrow-up.png) center no-repeat;
    background-size: 20px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 10;

    &:hover {
    	background-color: lighten($Accent, 5%);
    }
    &:focus {
		outline: none
	}
}

@media only screen and (min-width: 120px) and (max-width: 767px) { 

#footer-top {
	padding-top: 7vw;
	padding-bottom: 5vw;
}

.footer-top {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.footer_info {
	width: 100%;
	margin-bottom: 5vw;

	h2 {
		text-align: center;
		font-size: 2.75rem;
		margin-bottom: 5vw;
	}
}

.footer_info-bullet {
	margin-bottom: 3vw;

	h3 {
		font-size: 1.6rem;
		margin-bottom: 2vw;
	}

	a {
		font-size: 1.3rem;
	}

	&:nth-of-type {
		margin-bottom: 0;
	}
}

.footer_rbl {
	width: 100%;
}

.footer_rbl-nav {
	margin-bottom: 5vw;

	ul {

		li {
			margin-left: 3vw;

			a {
				font-size:  1.2rem;
				padding-bottom: 1vw;
			}
		}
	}
}

.footer_rbl-form {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	.footer_rbl-form_input {
		width: 100%;
		margin-bottom: 3vw;

		label {
			font-size: 1.6rem;
			margin-bottom: 3vw;
		}

		input {
			width: 100%;
			font-size: 1.5rem;
			padding-bottom: 1vw;
			padding-left: 2vw;
		}
	}

	.footer_rbl-form_textarea {
		margin-bottom: 3vw;
		width: 100%;

		label {
			font-size: 1.6rem;
			margin-bottom: 1vw;
		}

		textarea {
			width: 100%;
			height: 20vw;
			font-size: 1.5rem;
		}

	}

	button {
		border: none;
		padding: 0 6vw;
		height: 11vw;
		line-height: 11vw;
	}
}

.footer-bot {
	padding: 3vw 0;
}
.footer_copy {

	p {
		font-size: 1.083rem;
	}
}

.footer-soc {

	ul {

		li {
			margin-left: 2vw;

			a {
				width: 6vw;
				height: 6vw;
			}
		}
	}
}

.scrollToTop {
    right: calc(50% - 13vw / 2);
    bottom: 5vw;
    width: 13vw;
    height: 13vw;
    background-size: 4vw;
}
}
