$Accent: #00a5ff;
$Title: #3a3f4b;
$SectionBg: #f5f6f8;

header {
	position: relative;
	margin-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	z-index: 1;	
}

.header_logo {
	position: relative;
	overflow: hidden;
	width: 17%;

	a {
		width: 140px;
		display:  block;

		img {
			max-width: 100%;
		}
	}
}

.header_nav {
	position: relative;

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		li {
			margin-left: 63px;

			a {
				font-size: 1.167rem;
				color: #fff;
				padding-bottom: 10px;
				-webkit-transition: all .2s ease;
				transition: all .2s ease;
				background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)) 50% 100% no-repeat;
				background: linear-gradient(transparent, transparent) 50% 100% no-repeat;
				background-size: 100% 1px;

			}

			&.active a, a:hover {
				background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 50% 100% no-repeat;
				background: linear-gradient(#fff, #fff) 50% 100% no-repeat;
				background-size: 100% 1px;
			}
		}
	}
}

#menumob {display: none;}


@media only screen and (min-width: 120px) and (max-width: 767px) {

header {
	margin-top: 3vw;
}

.header_logo {
	position: relative;
	overflow: hidden;
	width: 100%;

	a {
		width: 27vw;
	}
}

.header_nav {
	display: none;
}

#menumob {
    display: block;
    width: 13%;
    a {
      width: 100%;

      svg {
      	width: 10vw;
      	height: 10vw;
      }
    }
  }
}
