@import "all/base";

body {
	min-height: 100vh;
}

html, body {
	min-height: 100%;
	height: 100%;
	line-height: 1.2;
	font-size: 12px;
	font-family: 'Lora', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'OpenSans-Regular', sans-serif;
}

@font-face {
    font-family: 'Lora';
    src: url(../../fonts/Lora-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(../../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url(../../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url(../../fonts/SourceSansPro-SemiBold.ttf);
}

/* Контейнер */

.wrapper {width: 100%;}

.container {
	width: 1190px;
	margin: 0 auto;
	padding: 0;
}

.column, .columns {
	margin-left: 10px;
	margin-right: 10px;
}

.content {overflow: hidden;}

.container .sixteen.columns {width: 1170px;}

.position-relative {
	position: relative;
	overflow: hidden;
}

a {
	text-decoration: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {

.container {width: 1120px;}
.container .sixteen.columns {width: 1100px;}
.column, .columns {
  margin-left: 10px;
  margin-right: 10px;
}
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {

.container {width: 980px;}
.container .sixteen.columns {width: 960px;}
.column, .columns {
  margin-left: 10px;
  margin-right: 10px;
}
}


@media only screen and (min-width: 768px) and (max-width: 979px) {
.container {width: 100%;}
.container .sixteen.columns {width: 96%;}
.column, .columns {
	margin-left: 2%;
	margin-right: 2%;
}

}

@media only screen and (min-width: 120px) and (max-width: 767px) {
.container {width: 100%;}
.container .sixteen.columns {width: 94%;}
.column, .columns {
	margin-left: 3%;
	margin-right: 3%;
}

}
