$Accent: #00a5ff;
$Title: #3a3f4b;
$SectionBg: #f5f6f8;

/*index_top */

#index_top {
	position: relative;
	overflow: hidden;
	height: 100vh;
	background: url(../../img/index-bg-01.jpg) center no-repeat;
	background-size: cover;

	&:after {
		content:'';
		display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(59, 64, 76, 0.5);
	}
}

.index_top-info {
	position: relative;
	color: #fff;
	text-align: center;
	z-index: 1;
	margin-top: 34vh;

	h1 {
		font-size: 4.833rem;
		font-weight: 700;
		font-family: 'Lora', serif;
		margin-bottom: 40px;
	}

	p {
		font-size: 2.083rem;
		font-family: 'OpenSans-Regular', sans-serif;
		margin-bottom: 90px;
	}

	.main_link {
		padding: 0 70px;
	}
}

/*services*/

#services {
	position: relative;
	overflow: hidden;
	padding-top: 65px;
	padding-bottom: 95px;

	h2 {
		margin-bottom: 100px;
	}

}

.services_list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	.services_list-bullet {
		position: relative;
		text-align: center;
		width: 23%;

		h3 {
			font-size: 1.5rem;
			font-family: 'Source Sans Pro', sans-serif;
			text-transform: uppercase;
			color: $Title;
			padding-bottom: 18px;
			margin-bottom: 13px;
			margin-top: 15px;
			background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#e1e1e1)) 50% 100% no-repeat;
			background: linear-gradient(#888, #e1e1e1) 50% 100% no-repeat;
			background-size: 15% 2px;
		}

		p {
			font-size: 1rem;
			line-height: 1.6;
			letter-spacing: 0.9;
			color: #999;
		}

		&:before {
			content: '';
			display: block;
			margin: 0 auto;
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}

		&:nth-child(1):before {
			background: #f5f6f8 url(../../img/services_01.png) center no-repeat;
			background-size: 30px;
		}
		&:nth-child(2):before {
			background: #f5f6f8 url(../../img/services_02.png) center no-repeat;
			background-size: 45px;
		}
		&:nth-child(3):before {
			background: #f5f6f8 url(../../img/services_03.png) center no-repeat;
			background-size: 25px;
		}
		&:nth-child(4):before {
			background: #f5f6f8 url(../../img/services_04.png) center no-repeat;
			background-size: 42px;
		}
	}
}

/*portfolio*/

#portfolio {
	position: relative;
	overflow: hidden;
	padding-top: 37px;
	padding-bottom: 74px;
	background-color: $SectionBg;

	h2 {
		margin-bottom: 63px;
	}

}

.portfolio_nav {
	position: relative;
	margin-bottom: 40px;

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		li {
			margin: 0 30px;

			a {
				font-size: 1.167rem;
				font-family: 'OpenSans-Light', sans-serif;
				color: #999;
				padding-bottom: 10px;
				text-transform: uppercase;
				-webkit-transition: all .2s ease;
				transition: all .2s ease;
				background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)) 50% 100% no-repeat;
				background: linear-gradient(transparent, transparent) 50% 100% no-repeat;
				background-size: 100% 1px;
			}

			&.active a, a:hover {
				color: $Accent;
				background: -webkit-gradient(linear, left top, left bottom, from($Accent), to($Accent)) 50% 100% no-repeat;
				background: linear-gradient($Accent, $Accent) 50% 100% no-repeat;
				background-size: 100% 1px;
			}
		}
	}
}

.portfolio_works {
	position: relative;
	margin-bottom: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.portfolio_works-bullet {
	position: relative;
	margin: 10px;
	width: calc(100% / 3 - 20px);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);

	.portfolio_works-bullet_img {
		margin-bottom: 25px;
		height: 275px;

		img {
			display: block;
			width: 100%;
		}
	}
	.portfolio_works-bullet_desc {
		position: relative;

		h4 {
			font-size: 1.5rem;
			color: #999;
			font-family: 'OpenSans-SemiBold', sans-serif;
			padding-left: 30px;
			margin-bottom: 20px;
		}

	}
}

.portfolio_link {
	position: relative;
	overflow: hidden;
	text-align: center;

	.main_link {
		padding: 0 64px;
		text-transform: uppercase;
	}
}

/*brands*/

#brands {
	position: relative;
	overflow: hidden;
	padding-top: 60px;
	padding-bottom: 110px;

	h2 {
		margin-bottom: 85px;
	}
}

.brands_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	.brands_list-bullet {
		position: relative;

		a {
			display: block;
			max-width: 100%;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;

			img {
				display: block;
				width: 100%;
			}

			&:hover {
				opacity: 0.5;
				-webkit-transition: all .2s ease;
				transition: all .2s ease;
			}
		}
	}
}

/*reviews*/

#reviews {
	position: relative;
	overflow: hidden;
	padding: 60px 0;
	background-color: $SectionBg;

	h2 {
		margin-bottom: 65px;
	}
}

.reviews_slider {
	position: relative;
	overflow: hidden;
}

.owl-carousel {

	.owl-prev, .owl-next {
	    position: absolute;
	    left: 2vw;
	    top: 41%;
	    height: 30px;
	    width: 30px;
	    background: url(../../img/arrow-l.png) center center no-repeat;
	    background-size: 20px;
	    z-index: 9;
	}

	.owl-next {
	    right: 2vw;
	    left: initial;
	    background: url(../../img/arrow-r.png) center center no-repeat;
	    background-size: 20px;
	}
}

.reviews_slider-bullet {
	position: relative;

	.reviews_slider-bullet_img {
		position: relative;
		overflow: hidden;
		width: 133px;
		height: 133px;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 45px;

		img {
			height: 100%;
			width: 100%;
			display: block;
		}
	}

	.reviews_slider-bullet_desc {
		position: relative;
		overflow: hidden;
		text-align: center;
		color: $Title;
		width: 48%;
		margin: 0 auto;

		p {
			font-size: 2rem;
			font-family: 'Lora', serif;
			margin-bottom: 40px;

			a {
				color: $Title;
				background: -webkit-gradient(linear, left top, left bottom, from($Title), to($Title)) 50% 94% no-repeat;
				background: linear-gradient($Title, $Title) 50% 94% no-repeat;
				background-size: 100% 1px;

				&:hover {
					opacity: 0.2;
				}
			}

			&:nth-of-type(2) {
				font-size: 1.5rem;
				font-family: 'OpenSans-Regular', sans-serif;

			}
		}
	}
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {

/*portfolio*/

.portfolio_works-bullet {

	.portfolio_works-bullet_img {
		height: 220px;

	}
}
}

@media only screen and (min-width: 120px) and (max-width: 767px) {

/*index_top */

#index_top {
	height: 150vw;
}

.index_top-info {
	margin-top: 35vw;

	h1 {
		font-size: 3.833rem;
		margin-bottom: 5vw;
	}

	p {
		font-size: 1.5rem;
		margin-bottom: 10vw;
	}

	.main_link {
		padding: 0 7vw;
	}
}

/*services*/

#services {
	padding-top: 5vw;
	padding-bottom: 7vw;

	h2 {
		margin-bottom: 7vw;
	}

}

.services_list {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	.services_list-bullet {
		width: 45%;
		margin-bottom: 3vw;

		h3 {
			font-size: 1.5rem;
			padding-bottom: 2vw;
			margin-bottom: 2vw;
			margin-top: 3vw;
		}

		p {
			font-size: 1rem;
		}

		&:before {
			width: 13vw;
			height: 13vw;
			border-radius: 50%;
		}

		&:nth-child(1):before {
			background: #f5f6f8 url(../../img/services_01.png) center no-repeat;
			background-size: 7vw;
		}
		&:nth-child(2):before {
			background: #f5f6f8 url(../../img/services_02.png) center no-repeat;
			background-size: 7vw;
		}
		&:nth-child(3):before {
			background: #f5f6f8 url(../../img/services_03.png) center no-repeat;
			background-size: 5vw;
		}
		&:nth-child(4):before {
			background: #f5f6f8 url(../../img/services_04.png) center no-repeat;
			background-size: 7vw;
		}
	}
}

/*portfolio*/

#portfolio {
	padding-top: 5vw;
	padding-bottom: 7vw;

	h2 {
		margin-bottom: 7vw;
	}

}

.portfolio_nav {
	margin-bottom: 5vw;

	ul {

		li {
			margin: 0 3vw;

			a {
				font-size: 0.9rem;
				padding-bottom: 1vw;
			}
		}
	}
}

.portfolio_works {
	margin-bottom: 5vw;
}

.portfolio_works-bullet {
	margin: 2%;
	margin-bottom: 3vw;
	width: 96%;

	.portfolio_works-bullet_img {
		margin-bottom: 3vw;
		height: 60vw;

		img {
			max-height: 100%;
		}
	}
	.portfolio_works-bullet_desc {

		h4 {
			font-size: 1.5rem;
			padding-left: 2vw;
			margin-bottom: 3vw;
		}

	}
}

.portfolio_link {

	.main_link {
		padding: 0 6vw;
	}
}

/*brands*/

#brands {
	padding-top: 5vw;
	padding-bottom: 7vw;

	h2 {
		margin-bottom: 7vw;
	}
}

.brands_list {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	.brands_list-bullet {
		width: 45%;
		margin-bottom: 5vw;

		a {

			img {
				width: 80%;
				margin: 0 auto;
			}
		}
	}
}

/*reviews*/

#reviews {
	padding: 5vw 0;

	h2 {
		margin-bottom: 7vw;
	}
}

.owl-carousel {

	.owl-prev, .owl-next {
	    height: 6vw;
	    width: 6vw;
	    background-size: 4vw;
	    left: 0;
	}

	.owl-next {
	    background-size: 4vw;
	    left: initial;
	    right: 0;
	}
}

.reviews_slider-bullet {

	.reviews_slider-bullet_img {
		width: 35vw;
		height: 35vw;
		margin-bottom: 5vw;
	}

	.reviews_slider-bullet_desc {
		width: 85%;

		p {
			font-size: 1.6rem;
			margin-bottom: 4vw;

			&:nth-of-type(2) {
				font-size: 1.2rem;
			}
		}
	}
}
}



