/* line 5, ../../sass/all/base.scss */
.title-section {
  font-size: 3.417rem;
  color: #3a3f4b;
  font-family: 'Lora', serif;
  padding-bottom: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#00a5ff), to(#00a5ff)) 50% 100% no-repeat;
  background: linear-gradient(#00a5ff, #00a5ff) 50% 100% no-repeat;
  background-size: 13% 4px;
}

/* line 18, ../../sass/all/base.scss */
.main_link {
  position: relative;
  overflow: hidden;
  font-size: 2.083rem;
  color: #fff;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  background-color: #00a5ff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-appearance: none;
  cursor: pointer;
}
/* line 35, ../../sass/all/base.scss */
.main_link:hover, .main_link:focus {
  background-color: #1aaeff;
}
/* line 38, ../../sass/all/base.scss */
.main_link:active {
  background-color: #0095e6;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  /* line 45, ../../sass/all/base.scss */
  .title-section {
    font-size: 3rem;
    padding-bottom: 2vw;
  }

  /* line 50, ../../sass/all/base.scss */
  .main_link {
    font-size: 1.5rem;
    height: 13vw;
    line-height: 13vw;
    border-radius: 10vw;
  }
}
