/* line 5, ../../sass/all/header.scss */
header {
  position: relative;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
}

/* line 20, ../../sass/all/header.scss */
.header_logo {
  position: relative;
  overflow: hidden;
  width: 17%;
}
/* line 25, ../../sass/all/header.scss */
.header_logo a {
  width: 140px;
  display: block;
}
/* line 29, ../../sass/all/header.scss */
.header_logo a img {
  max-width: 100%;
}

/* line 35, ../../sass/all/header.scss */
.header_nav {
  position: relative;
}
/* line 38, ../../sass/all/header.scss */
.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 43, ../../sass/all/header.scss */
.header_nav ul li {
  margin-left: 63px;
}
/* line 46, ../../sass/all/header.scss */
.header_nav ul li a {
  font-size: 1.167rem;
  color: #fff;
  padding-bottom: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)) 50% 100% no-repeat;
  background: linear-gradient(transparent, transparent) 50% 100% no-repeat;
  background-size: 100% 1px;
}
/* line 58, ../../sass/all/header.scss */
.header_nav ul li.active a, .header_nav ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 50% 100% no-repeat;
  background: linear-gradient(#fff, #fff) 50% 100% no-repeat;
  background-size: 100% 1px;
}

/* line 67, ../../sass/all/header.scss */
#menumob {
  display: none;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  /* line 72, ../../sass/all/header.scss */
  header {
    margin-top: 3vw;
  }

  /* line 76, ../../sass/all/header.scss */
  .header_logo {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  /* line 81, ../../sass/all/header.scss */
  .header_logo a {
    width: 27vw;
  }

  /* line 86, ../../sass/all/header.scss */
  .header_nav {
    display: none;
  }

  /* line 90, ../../sass/all/header.scss */
  #menumob {
    display: block;
    width: 13%;
  }
  /* line 93, ../../sass/all/header.scss */
  #menumob a {
    width: 100%;
  }
  /* line 96, ../../sass/all/header.scss */
  #menumob a svg {
    width: 10vw;
    height: 10vw;
  }
}
