@charset "UTF-8";
/* line 5, ../../sass/all/base.scss */
.title-section {
  font-size: 3.417rem;
  color: #3a3f4b;
  font-family: 'Lora', serif;
  padding-bottom: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#00a5ff), to(#00a5ff)) 50% 100% no-repeat;
  background: linear-gradient(#00a5ff, #00a5ff) 50% 100% no-repeat;
  background-size: 13% 4px;
}

/* line 18, ../../sass/all/base.scss */
.main_link {
  position: relative;
  overflow: hidden;
  font-size: 2.083rem;
  color: #fff;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  background-color: #00a5ff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-appearance: none;
  cursor: pointer;
}
/* line 35, ../../sass/all/base.scss */
.main_link:hover, .main_link:focus {
  background-color: #1aaeff;
}
/* line 38, ../../sass/all/base.scss */
.main_link:active {
  background-color: #0095e6;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  /* line 45, ../../sass/all/base.scss */
  .title-section {
    font-size: 3rem;
    padding-bottom: 2vw;
  }

  /* line 50, ../../sass/all/base.scss */
  .main_link {
    font-size: 1.5rem;
    height: 13vw;
    line-height: 13vw;
    border-radius: 10vw;
  }
}
/* line 3, ../../sass/all/wrapper.scss */
body {
  min-height: 100vh;
}

/* line 7, ../../sass/all/wrapper.scss */
html, body {
  min-height: 100%;
  height: 100%;
  line-height: 1.2;
  font-size: 12px;
  font-family: 'Lora', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'OpenSans-Regular', sans-serif;
}

@font-face {
  font-family: 'Lora';
  src: url(../../fonts/Lora-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url(../../fonts/SourceSansPro-SemiBold.ttf);
}
/* ╨Ъ╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А */
/* line 55, ../../sass/all/wrapper.scss */
.wrapper {
  width: 100%;
}

/* line 57, ../../sass/all/wrapper.scss */
.container {
  width: 1190px;
  margin: 0 auto;
  padding: 0;
}

/* line 63, ../../sass/all/wrapper.scss */
.column, .columns {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 68, ../../sass/all/wrapper.scss */
.content {
  overflow: hidden;
}

/* line 70, ../../sass/all/wrapper.scss */
.container .sixteen.columns {
  width: 1170px;
}

/* line 72, ../../sass/all/wrapper.scss */
.position-relative {
  position: relative;
  overflow: hidden;
}

/* line 77, ../../sass/all/wrapper.scss */
a {
  text-decoration: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  /* line 83, ../../sass/all/wrapper.scss */
  .container {
    width: 1120px;
  }

  /* line 84, ../../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 1100px;
  }

  /* line 85, ../../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 93, ../../sass/all/wrapper.scss */
  .container {
    width: 980px;
  }

  /* line 94, ../../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 960px;
  }

  /* line 95, ../../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* line 103, ../../sass/all/wrapper.scss */
  .container {
    width: 100%;
  }

  /* line 104, ../../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 96%;
  }

  /* line 105, ../../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  /* line 113, ../../sass/all/wrapper.scss */
  .container {
    width: 100%;
  }

  /* line 114, ../../sass/all/wrapper.scss */
  .container .sixteen.columns {
    width: 94%;
  }

  /* line 115, ../../sass/all/wrapper.scss */
  .column, .columns {
    margin-left: 3%;
    margin-right: 3%;
  }
}
